.weather-title {
  font-size: 3vw;
  font-weight: 50;
  padding: 20px 20px 0px 0px;
}

.city-input-col {
  margin: auto;
}

.city-input-field {
  background-color: #E5E7EA !important;
}

.maintainer-tag {
  color: #B1B2B5 !important;
}

a.maintainer-link {
  color: #abc8c7 !important;
}

h6.maintainer-link {
  color: #65CEB9 !important;
}

.weather-message-col {
  text-align: center;
}

.weather-message-text {
  display: inline-block;
  justify-content: center;
}

.map-request-spinner {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
